/*----------全体設定----------*/
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
body{
    /*大きさの設定*/
    height: 100vh;
    width: 100vw;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*スクロールバーの禁止*/
    overflow: hidden;

    /*余白設定*/
    margin: 0;
    padding: 0;

    /*写真設定*/
    background-image: url(../Element/MyRoom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*並び順設定*/
    flex-direction: column;
}

body h1{
    font-size: 30px;
    font-family: "GFS Didot";
    font-weight: normal;
}

/*----------main-container用----------*/
.main-container{
    /*位置設定*/
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /*大きさ設定*/
    height: 85%;
    width: 100%;

    /*並び順設定*/
    flex-direction: column;
}

.all-gallery{
    /*大きさ設定*/
    height: 65%;
    width: 100%;
    
    /*位置設定*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-gallery button{
    margin: 8%;
}

.gallery-container{
    /*背景設定*/
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);

    /*ボタンのデザイン設定*/
    border-radius: 20px;
    border:2px solid white;

    /*余白設定*/
    padding: 20px;
    
    /*大きさ設定*/
    box-sizing: border-box;
    height: 100%;
    width: 50%;

    /*位置設定*/
    display: flex;
    flex-direction: column;

    overflow: auto;
}

.display{
    height: 80%;
    width: 100%;
    /*スクロールバーの禁止*/
    overflow: hidden;

    /*位置設定*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation{
    /*大きさ設定*/
    box-sizing: border-box;
    width: 100%;

    /*余白設定*/
    margin-top: 3%;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-display img{
    max-width: 100%;
    min-width: 80%;   /* 親要素を超えない */
    max-height: 100%;
    min-height: 80%;  /* 親要素を超えない */
    object-fit: contain; /* 縦横比を維持して収める */
    border-radius: 20px;
}

#image-display{
    height: 100%;
    width: 50%;
    object-fit: contain;
    /*スクロールバーの禁止*/
    overflow: hidden;

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-display{
    /*大きさ設定*/
    height: 100%;
    width: 50%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /*文字設定*/
    font-family: "GFS Didot";
}

.daily-display{
    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*大きさ設定*/
    box-sizing: border-box;
    flex: 1;
    width: 100%;

    /*余白設定*/
    padding: 15px;

    /*文字設定*/
    text-align: left;
}

#title{
    font-size: 30px;
}

#daily{
    font-size: 20px;
}

/*----------submain用----------*/
.submain{
    /*大きさ設定*/
    height: 8%;
    width: 100%;

    /*余白設定*/
    margin-top: 2%;
    margin-bottom: 2%;

    /*並び順設定*/
    flex-direction: row;
    
    /*位置設定*/
    display: flex;
    justify-content: space-between;
}

a, button{
    /*ボタン枠設定*/
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    /*ボタンの大きさ設定*/
    height: 25%;

    /*LinkUIの無効化*/
    color: black;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;

    /*文字の大きさ設定*/
    font-size: 30px;
    font-family: "GFS Didot";

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*余白設定*/
    padding: 30px 30px;
    margin: 0px 20px;

    /*ボタンのデザイン設定*/
    border-radius: 20px;
    border:2px solid white;

    /*animation設定*/
    transition:transform 0.3s ease;
}

a:hover, button:hover{
    transform: scale(1.1);
}

a:active, button:active{
    background-color: rgba(255, 255, 255, 0.7);
    transition:background-color 0.1s ease;
}

a:focus, button:focus{
    border-color: rgb(161, 250, 195);
    outline: none;
}

span{
    font-family: "GFS Didot";
    font-size: 30px;
}