@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
body{
    /*大きさの設定*/
    height: 100vh;
    width: 100vw;
    
    /*スクロールバーの禁止*/
    overflow: hidden;

    /*余白設定*/
    margin: 0;
    padding: 0;

    /*写真設定*/
    background-image: url(../Element/MyRoom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container{
    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*並び順設定*/
    flex-direction: column;
}

.main-container h1{
    font-size: 60px;
    font-family: "GFS Didot";
    font-weight: normal;
}

.control-panel a{
    /*ボタン枠設定*/
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    /*LinkUIの無効化*/
    color: black;
    text-decoration: none;
    display: inline-block;

    /*文字の大きさ設定*/
    font-size: 30px;
    font-family: "GFS Didot";

    /*余白設定*/
    padding: 10px 20px;
    margin: 0px 30px;

    /*ボタンのデザイン設定*/
    border-radius: 20px;
    border:2px solid white;

    /*animation設定*/
    transition:transform 0.3s ease;
}

.control-panel a:hover{
    transform: scale(1.1);
}

.control-panel a:active{
    background-color: rgba(255, 255, 255, 0.7);
    transition:background-color 0.1s ease;
}