@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

body {
    /*大きさの設定*/
    height: 100vh;
    width: 100vw;
    
    /*スクロールバーの禁止*/
    overflow: hidden;

    /*余白設定*/
    margin: 0;
    padding: 0;

    /*写真設定*/
    background-image: url(../Element/MyRoom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*並び順設定*/
    flex-direction: column;
}

.main-container h1 {
    font-size: 38px;
    font-family: "GFS Didot";
    font-weight: normal;
    color: black;
}

.submain{
    /*大きさ設定*/
    height: 8%;
    width: 100%;

    /*余白設定*/
    margin-top: 2%;
    margin-bottom: 2%;

    /*並び順設定*/
    flex-direction: row;
    
    /*位置設定*/
    display: flex;
    justify-content: space-between;
}

.submain a, .submain button{
    /*ボタン枠設定*/
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    /*ボタンの大きさ設定*/
    height: 100%;

    /*LinkUIの無効化*/
    color: black;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;

    /*文字の大きさ設定*/
    font-size: 30px;
    font-family: "GFS Didot";

    /*位置設定*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*余白設定*/
    padding: 30px 30px;
    margin: 0px 20px;

    /*ボタンのデザイン設定*/
    border-radius: 20px;
    border:2px solid white;

    /*animation設定*/
    transition:transform 0.3s ease;
}

.submain a:hover, .submain button:hover{
    transform: scale(1.1);
}

.submain a:active, .submain button:active{
    background-color: rgba(255, 255, 255, 0.7);
    transition:background-color 0.1s ease;
}

.submain a:focus, .submain button:focus{
    border-color: rgb(161, 250, 195);
    outline: none;
}

.search-panel{
    /*位置設定*/
    position: absolute;
    top: 20px;
    right: 20px;

    /* デザイン */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 6px;
    border-radius: 15px;
    border: 2px solid white;

    /* 中身の配置 */
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

/* 検索パネルの中の入力欄 */
.search-panel input {
    font-size: 14px;
    font-family: "GFS Didot";
    color: black;
    padding: 4px 10x;
    border-radius: 10px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    width: 170px;
}

.search-panel input::placeholder {
    color: #333;
}

/* 検索パネルの中のボタン */
.search-panel button {
    font-size: 14px;
    font-family: "GFS Didot";
    padding: 3px 15px;
    border-radius: 10px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.2s ease;
    color: black;
}

.search-panel button:hover {
    background: rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

.home-button {
    /*位置設定*/
    position: fixed;
    bottom: 20px;
    left: 20px;

    /*ボタン枠設定*/
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    /*LinkUIの無効化*/
    color: black;
    text-decoration: none;
    /* display: inline-block; */

    /*文字の大きさ設定*/
    font-size: 30px;
    font-family: "GFS Didot";

    /*余白設定*/
    padding: 20px;
    margin: 0px 30px;

    /*ボタンのデザイン設定*/
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer; /* マウスカーソルを指の形にするやつ */

    /*animation設定*/
    transition: transform 0.3s ease;
}

.upload {
    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*ボタン枠設定*/
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    /*LinkUIの無効化*/
    color: black;
    text-decoration: none;
    /* display: inline-block; */

    /*文字の大きさ設定*/
    font-size: 30px;
    font-family: "GFS Didot";

    /*余白設定*/
    padding: 30px;
    margin: 0px 30px;

    /*ボタンのデザイン設定*/
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer; /* マウスカーソルを指の形にするやつ */

    /*animation設定*/
    transition: transform 0.3s ease;
}

.upload:hover, .home-button:hover {
    transform: scale(1.1);
}

.upload:active, .home-button:active {
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.1s ease;
}

.upload img {
    /*大きさ設定*/
    width: 30%;
    aspect-ratio: 1 / 1;
    
    /*デザイン設定*/
    border-radius: 20px;
}

#gallery {
    margin-top: 30px;
    width: 80%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    
    display: flex;
    gap: 10px;
    overflow-x: auto;
}